.box, .second-box{
    width: 75%;
    height: 100%;
    min-height: 524px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center;
    display: flex;
    align-items: center;
}

.box{
    background-image: url("../images/mainImage.jpg");
    Animation-name : fade ;
    Animation-delay : 2s ;
    Animation-duration : 3s ;
    Animation-iteration-count : infinite ;
}

.second-box{
    background-image: url("../images/locaux\ Adobe.jpg");
}

.card-text {
    width: 90%;
    display: inline;
}


.card-text, .second-card-text {
    height: auto;
    border-radius: 20px;
    
    margin-top: 5%;
    margin-bottom: 2%;
    margin-left: auto;
    margin-right: auto;

    text-align: center;
    font-weight: 800px;
    line-height: normal;
    text-align: center;
}

.card-text .container-text-welcome p{
    color: rgb(255, 255, 255);
    font-size: 32px;
    width: 60%;

}

.card-text h1{
    color: #ec0f0f;
    font-size: 136px;
}


.second-card-text {
    width: 30%;
    background-color: #3E3939A1;
    color: rgb(255, 255, 255);
    font-size: 32px;
    margin-left: 2%;
}

